<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <title>Blog Project</title>
</head>
<body>
     <!-- Navbar -->
     <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="#">BlogSite</a>
            </div>
            <ul class="nav-links">
                <li><a href="blog-add">Add Blog</a></li>
                <li><a href="#">Delete Blog</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
                <!--<li><a href="login-page">Login</a></li>
                <li><a href="register-page">SignUp</a></li>-->
                
            </ul>
        </div>
    </nav>
</body>
</html>
